[project]
	description = text to text generator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tim Jordan (tjordanchat)
[access "refs/for/refs/*"]
	read = group user/Tim Jordan (tjordanchat)
	push = group user/Tim Jordan (tjordanchat)
	label-Code-Review = -2..+2 group user/Tim Jordan (tjordanchat)
	label-Verified = -1..+1 group user/Tim Jordan (tjordanchat)
	rebase = group user/Tim Jordan (tjordanchat)
	removeReviewer = group user/Tim Jordan (tjordanchat)
	submit = group user/Tim Jordan (tjordanchat)
[access "refs/heads/*"]
	read = group user/Tim Jordan (tjordanchat)
	create = group user/Tim Jordan (tjordanchat)
	push = +force group user/Tim Jordan (tjordanchat)
	pushMerge = group user/Tim Jordan (tjordanchat)
[access "refs/tags/*"]
	push = +force group user/Tim Jordan (tjordanchat)
	pushTag = group user/Tim Jordan (tjordanchat)
	pushSignedTag = group user/Tim Jordan (tjordanchat)
